<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{"ts":"%date{ISO8601}","level":"%level","logger":"%logger{36}","thread":"%thread","requestId":"%X{requestId:-}","userId":"%X{userId:-}","sessionId":"%X{sessionId:-}","message":"%replace(%msg){'"','\\"'}","exception":"%replace(%replace(%xThrowable){'\r',''}){'\n','\\n'}"}%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>

